@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Inter:wght@300;400&family=Tangerine:wght@700&display=swap');

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
*{ 
box-sizing: border-box;
}
.nav{width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: #8AEC89;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; 
    z-index: 1;

}

 .onglets{
   display: flex;
   align-items: center;
   
}
/* .onglets .droit*/

.droit ul{
    list-style-type: none;
   
}
.droit ul li{
   position:relative ;
   float: left;
}
.droit ul li a{
    font-size: 20px;
    padding: 20px;
    display: block;
}
.droit a{
 text-decoration: none;
 color: #010c37;
 font-family: 'Inter', sans-serif;
}
.droit a:hover{
    color:#8ABC76;
 }
 
.gauche{
    display: flex;
    align-items: center;
}

.gauche ul {
    list-style-type: none;
   /* display: inline; */
   /* background: red */
   }
   
   .gauche ul li{
       display: inline;
   }
   
   .gauche ul li {
       margin-right: 50px; 
       font-size: 18px;
       font-family: 'Inter', sans-serif;
       color: #010c37;
   }
   .gauche a{
       text-decoration: none;
      color: #010c37;}

.gauche input{
   width: 300px;
   padding: 8px;
   border-radius:5px;
   border: none;
   outline: none;

}

.droit ul li ul{
    position: absolute;
    left: 0;
    width: 260px;
    background: #8AEC89;
    display: none;
}

.droit ul li ul li{
    width: 100%;
    border-top: 1px solid white;
    font-size: 8px;
}
.droit ul li ul li a{
    font-size: 16px; 
}

.droit ul li ul li ul{
    left: 200px;
    top: 0px;
}
.droit ul li:focus-within >ul,
.droit ul li:hover >ul{
   display: initial;
}
#barre{
    display: none;
}
.onglets label{
    cursor: pointer;
    display: none;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}
/* responsivité */

@media(max-width:947px){
  
    .onglets label{
        display: block;
    } 
    .onglets .droit{
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background: #8AEC89;
        display: none;
    }

    .onglets .droit ul li{
        width: 100%;
    }
    .onglets .droit ul li ul{
        position: relative;
        width: 100%;
    }
    .onglets .droit ul li ul li{
       background: #8AEC89;
    }
    .onglets .droit ul li ul li ul{
        width: 100%;
        left: 0;
     }

    #barre:checked ~ .droit{
        display: initial;
    }
}
 /* fin de responsivité */
 /*  */

 main{
    position: absolute;
    top: 150px;
    width: 100%;
 }
 .profile{
    display: flex;
       flex-direction: column;
       align-items: center;
        gap: 2em;
        width: 100%;
        max-width: 1200px;
         /* margin-top: 20px; */
 }

 .profile .info .p{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
 }
 .profile  button{
    display: flex;
    justify-content: center;
     width: 150px;
     padding: 5px;
     text-align: left;
     margin-left: 500px;
     background: #8AEC89;
     border: none;
     border-radius: 5px;
 }

 .profile  button a{
    text-decoration: none;
    color: #010c37;
    font-family: 'Inter', sans-serif;
 }
 .profile form{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
 }
 .profile  h4{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Inter', sans-serif;
 }
 .profile form .group{
    display: flex;
    flex-direction: column;
 }
 .profile form label{
    color: #010c37;
    width: fit-content;
    font-family: 'Inter', sans-serif;
 }
 .profile form input{
    border: none;
    outline: none;
    border: 1px solid #d4d4d4;
    padding: 10px;
    resize: none;
 }
 .profile form input[type='submit']{
    width: 100%;
    max-width: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #8AEC89;
    color: #010c37;
    text-align: center;
 }