@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Inter:wght@300;400&family=Tangerine:wght@700&display=swap');

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
*{ 
box-sizing: border-box;
}
.nav{width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: #2A87DD;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; 
    z-index: 1;

}

 .onglets{
   display: flex;
   align-items: center;
   
}
/* .onglets .droit*/

.droit ul{
    list-style-type: none;
   
}
.droit ul li{
   position:relative ;
   float: left;
}
.droit ul li a{
    font-size: 20px;
    padding: 20px;
    display: block;
}
.droit a{
 text-decoration: none;
 color: white;
 font-family: 'Inter', sans-serif;
}
.droit a:hover{
    color:#8ABC76;
 }
 
.gauche{
    display: flex;
    align-items: center;
}

.gauche a{
    margin-right: 50px; 
}
.gauche input{
   width: 300px;
   padding: 8px;
   border-radius:5px;
   border: none;
   outline: none;

}

.droit ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #2A87DD;
    display: none;
}

.droit ul li ul li{
    width: 100%;
    border-top: 1px solid greenyellow;
}
.droit ul li ul li ul{
    left: 200px;
    top: 0px;
}
.droit ul li:focus-within >ul,
.droit ul li:hover >ul{
   display: initial;
}
#barre{
    display: none;
}
.onglets label{
    cursor: pointer;
    display: none;
    color: white;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}
/* responsivité */

@media(max-width:947px){
  
    .onglets label{
        display: block;
    } 
    .onglets .droit{
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background: #2A87DD;
        display: none;
    }

    .onglets .droit ul li{
        width: 100%;
    }
    .onglets .droit ul li ul{
        position: relative;
        width: 100%;
    }
    .onglets .droit ul li ul li{
       background: rgb(138, 138, 241);
    }
    .onglets .droit ul li ul li ul{
        width: 100%;
        left: 0;
     }

    #barre:checked ~ .droit{
        display: initial;
    }
}
 /* fin de responsivité */

 /* debut section1 */
 .section1{
    position: absolute;
    top: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   /* justify-content: space-around; */
  
 }
 .section1 .livre{
  width: 400px;
  height: 400px;
  /* background:  */
   display: flex;
   justify-content: center;
    box-shadow:rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; 
 }

  .livre img{
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .section1 .achat{
    display: flex;
    /* margin-left: 50px; */
  }
  .info{
    margin-left: 50px;
    font-family: 'Inter', sans-serif;

  }
  .info .nom{
    font-size: 30px;
    font-family: 'Inter', sans-serif;
  }

  .info .auteur{
    text-decoration: underline;
    margin-bottom: 30px;
  }

  .info .prix{
    margin-top: 30px;
    width: 100px;
    height: 50px;
    border: 1px solid #2A87DD;
  }
  
.info .button{
    width: 150px;
    padding: 8px;
    background: #2A87DD;
    border-radius: 5px;
    border: none;
    color: white;
    /* margin-left: 50px; */
    margin-top: 10px;
    cursor: pointer;
}
/* fin section1 */

/* debut section2 */
.resumé{
    position: absolute;
    top: 600px;
    width: 100%;
  
}

.resumé .resum{
    margin-left: 50px;
}

.resumé .resum .extrait {
 width: 100%;
 max-width: 1100px;
 /* box-shadow:rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
}
h2{
    margin-left: 20px;
    color: #2A87DD;
}

.resumé .resum .extrait p {
text-align: justify;
margin-left: 20px;
margin-right: 20px;
font-family: 'Inter', sans-serif;
font-size: 18px;
/* color: #2A87DD; */
/* opacity: 0.5; */
}
 .graph {
    width: 100%;
    max-width: 500px;
    margin-left: 50px;
    /* box-shadow:rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
   }
    .graph p {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    /* color: #2A87DD; */
    /* opacity: 0.5; */
    
    }