@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Inter:wght@300;400&family=Tangerine:wght@700&display=swap');

body{
   
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    /* background: url(../../image/ACT-Litteratie-01.jpeg); */
    height: auto;
    background-size: cover;
    background-repeat:no-repeat;
    /* background-position: center; */
}
*{ margin: 0px;
    padding: 0px;
box-sizing: border-box;
}
.nav{width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: #8aec89;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    z-index: 1;

}

 .onglets{
   display: flex;
   align-items: center;

}
/* .onglets .droit*/

.droit ul{
    list-style-type: none;

}
.droit ul li{
   position:relative ;
   float: left;
}
.droit ul li a{
    font-size: 20px;
    padding: 20px;
    display: block;
}
.droit a{
 text-decoration: none;
 color: #010c37;
 font-family: 'Inter', sans-serif;
}
.droit a:hover{
    color:#8ABC76;
 }

.gauche{
    display: flex;
    align-items: center;
}

.gauche a{
    margin-right: 50px;
}
.gauche input{
   width: 300px;
   padding: 8px;
   border-radius:5px;
   border: none;
   outline: none;

}

.droit ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #8aec89;
    display: none;
}

.droit ul li ul li{
    width: 100%;
    border-top: 1px solid white;
}
.droit ul li ul li ul{
    left: 200px;
    top: 0px;
}
.droit ul li:focus-within >ul,
.droit ul li:hover >ul{
   display: initial;
}
#barre{
    display: none;
}
.onglets label{
    cursor: pointer;
    display: none;
    color: #010c37;
    font-size: 20px;
    font-family: 'Inter', sans-serif;

}
/* responsivité */

@media(max-width:947px){

    .onglets label{
        display: block;
    }
    .onglets .droit{
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background: #8aec89;
        display: none;
    }

    .onglets .droit ul li{
        width: 100%;
    }
    .onglets .droit ul li ul{
        position: relative;
        width: 100%;
    }
    .onglets .droit ul li ul li{
       background: #8aec89;
    }
    .onglets .droit ul li ul li ul{
        width: 100%;
        left: 0;
     }

    #barre:checked ~ .droit{
        display: initial;
    }
}
 /* fin de responsivité */
 .section2{
  width: 100%;
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: center;
 
 }

 .section2 .livres{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 2em;
    width: 100%;
    max-width: 1200px;
 }
.livres h3{
    font-size: 30px;
    font-family:'Inter', sans-serif ;
    text-decoration: underline;
    color:#010c37 ;
    text-align: center;
}

 .livres form{
    width: 100%;
    max-width: 500px;
    display: flex;
     flex-direction: column;
    gap: 1.5em;
 }

 .livres form .group {
    display: flex;
    flex-direction: column;
 }

 .livres form label {
   color:#010c37 ;
   width: fit-content;
   font-family:'Inter', sans-serif ;

 }

 .livres textarea,select{
    border: none;
    outline: none;
    border: 1px solid #d4d4d4;
    padding: 10px;
    resize: none;
 }

 .livres form input {
    border: none;
    outline: none;
    border: 1px solid #d4d4d4;
    padding: 10px;
    resize: none;
   
   /* background: rgb(180, 182, 183); */
  }

  .livres form input[type='submit']{
    cursor: pointer;
  }
  .livres form input[type='submit']{
    width: 100%;
    max-width: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
    background: #8aec89;
    color: white;
    text-align: center;
    opacity: 1;
    margin-bottom: 50px;
    border: none;
    font-family:'Inter', sans-serif ;

  }

  .livres form input[type='submit']:hover{
  background:#010c37 ;
  border: 1px solid #010c37;
  }